
.visible{
	display: none;
}

:root{
	--bg-color:rgb(204, 127, 204);
	--div-color:#252222;
}
body{
    margin:0;
    padding:0;
    background-color: var(--bg-color);
}
.container{
    background-color: var(--div-color);
    max-width: 100%;
    width: 40%;
    margin:auto auto;
    border: 2px solid white;
    padding-bottom: 20px;
    margin-top:4%;
    overflow: hidden;
    border-radius: 20px;
	text-align: center;
	color: white;
}

/* submit inputs */
/* .name,.email, .hobbies, .skills */
.submitInput{
    display: flex;
    flex-direction: row;
    margin: auto;
    padding:10px 20px;
	border-radius: 5px;
    margin-bottom:5px;
    background-color: rgb(185, 174, 174);
	
}
.submitInput:focus{
    outline: none;    
    border-color: burlywood;
	
}
/* search inputs  */
.search-bar{
	margin: auto;
    padding:10px 20px;
    /* margin: 10px 50px; */
    margin-bottom:5px;
	margin-left: 20px;
	width: 70%;
    background-color: rgb(185, 174, 174);
	outline: none;
	border-radius: 10px;
}
button{
	background-color: var(--bg-color);
	cursor: pointer;
	border:2px solid black;
	padding:10px 10px;
	border-radius:10px;
	font-weight: bolder;
	margin-top: 2%;
}
button:hover{
    background-color: var(--div-color);
    color:var(--bg-color);
    border-color: rgb(185, 174, 174);
}
a:hover{
     color:var(--bg-color);
}

.back-Btn{
    display: block;
    margin-left:15px
}
a{
    text-decoration: none;
    color:var(--div-color)
}
h1{
    color:whitesmoke
}
.name-div,.hobbies-div,.email-div,.skills-div {
    
    border:2px solid black;
    padding:10px 20px;
	border-radius: 5px;
    
    margin:auto auto;
    max-width: 20em;
    background-color: rgb(185, 174, 174);
    
}